<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
  <!--  
    	<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>	
    	<property name="connection.driver_class">org.postgresql.Driver</property>
       	 <property name="connection.url">jdbc:postgresql://localhost:5432/db_sysceip2</property>
    	
    	
    	<property name="connection.username">postgres</property>
    	<property name="connection.password">131603</property>
    	<property name="current_session_context_class">thread</property> -->
    	<property name="hibernate.hbm2ddl.auto">update</property>
    	  
    	
    	<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>	
    	<property name="connection.driver_class">org.postgresql.Driver</property>
       	 <property name="connection.url">postgres://ec2-52-200-134-180.compute-1.amazonaws.com:5432/d3mh5ut8tev6qm</property>
    	
    
    	<property name="connection.username">bbprkknzmvxkpt</property>
    	<property name="connection.password">c52719ed2b3254a979b7b09536ddf18b6466b0ea8bc72a37f9fa9a2cf10e2187</property> 
    	
    	
    	<property name="current_session_context_class">thread</property>
    	<property name="hibernate.hbm2ddl.auto">update</property>
    	
    	<!-- Mapeando as classes -->
    	<mapping class="br.com.vanglas.unidade.Unidade"/>
    	<mapping class="br.com.vanglas.servidor.Servidor"/>
    </session-factory>
</hibernate-configuration>
