<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
  <!--  local
    	<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>	
    	<property name="connection.driver_class">org.postgresql.Driver</property>
       	 <property name="connection.url">jdbc:postgresql://localhost:5432/db_sysceip2</property>
    	
    	
    	<property name="connection.username">postgres</property>
    	<property name="connection.password">131603</property>
    	<property name="current_session_context_class">thread</property>
    	
    	<property name="hibernate.hbm2ddl.auto">update</property> -->
    	  
    	
    	
    	
    	<!-- Pelo guit linha de comando -->
    	<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>	
    	<property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://ec2-54-86-57-171.compute-1.amazonaws.com:5432/dcq1g90j8klo90</property>
    	
    
    	<property name="connection.username">cxeqafugbhgkow</property>
    	<property name="connection.password">e7139238342fd29bbaeae52414f55e1a4bd55cd812878d4ccca2b67879f527fb</property> 
    	
    	
    	<property name="current_session_context_class">thread</property>
    	<property name="hibernate.hbm2ddl.auto">update</property>
    	
    	
    	
    	<!-- Mapeando as classes -->
    	<mapping class="br.com.vanglas.unidade.Unidade"/>
    	<mapping class="br.com.vanglas.servidor.Servidor"/>
    </session-factory>
</hibernate-configuration>
